.bobby {
	margin: 0 auto;
	margin-top: 300px;
	width: 500px;
	display: flex;
	justify-content: space-between;
	
}

.photo {
	text-decoration: none;
	
	
}

.btn {
	width: 200px;
	height: 100px;
	font-size: 30px;
}